@page "/de/impressum"

<PageTitle>Impressum - company-OSINT.com</PageTitle>

<section class="content-page">
    <div class="container" style="max-width: 720px;">
        <h1>Impressum</h1>

        <h2>Angaben gemäß &sect; 5 TMG</h2>
        <p>
            Martin Andrich<br />
            c/o Postflex #10614<br />
            Emsdettener Str. 10<br />
            48268 Greven<br />
            Keine Pakete oder Päckchen - Annahme wird verweigert!
        </p>

        <h2>Kontakt</h2>
        <p>
            Telefon: 0351 48484747<br />
            E-Mail: info@company-osint.com
        </p>

        <h2>Verantwortlich für den Inhalt nach &sect; 55 Abs. 2 RStV</h2>
        <p>
            Martin Andrich<br />
            c/o Postflex #10614<br />
            Emsdettener Str. 10<br />
            48268 Greven<br />
        </p>

        <h2>Haftungsausschluss</h2>
        <h3 class="h6">Haftung fuer Inhalte</h3>
        <p class="small text-muted">
            Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt.
            Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte
            können wir jedoch keine Gewähr übernehmen.
        </p>

        <h3 class="h6">Haftung fuer Links</h3>
        <p class="small text-muted">
            Unser Angebot enthält Links zu externen Webseiten Dritter,
            auf deren Inhalte wir keinen Einfluss haben. Für die Inhalte
            der verlinkten Seiten ist stets der jeweilige Anbieter verantwortlich.
        </p>
    </div>
</section>
